.banner {
    display: flex;
    align-items: center;         
    justify-content: center;    
    position: relative;       
    height: 100px;
    padding: 0 20px;
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0) 70%, var(--color-beige-doux) 100%), url('../images/ban.png');
    background-size: cover;
    background-position: center;
}

#menu-burger {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 6px;
    width: 60px;
}

/*----------- burger modal -----------*/
.modal-menu {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; 
}

/* modale visible */
.modal-menu.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* contenu slide-in */
.modal-content {
    background-color: var(--color-green-light);
    width: 80%;
    max-width: 300px;
    height: 70vh;
    max-height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--shadow-medium);
    transform: translateX(100%); 
    transition: transform 0.3s ease;
    position: relative;
    border-radius: 10px 0 0 10px;
}

/* slide-in effect */
.modal-menu.visible .modal-content {
    transform: translateX(0);
}

.close {
    text-align: right;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a {
    background-color: var(--color-beige-doux);
    border: 1px solid var(--color-brown-terre);
    border-radius: 20px;
    padding: 0 2rem;
    text-align: right;
    display: block;
    padding: .5rem .6rem;
}

.modal-content .links a:hover {
    color: var(--color-green-light);
}

/*--------------- bouton rdv -----------------*/
.btn-rdv {
    text-align: center;
    background-color: var(--color-green-sauge);
    color: white;
    border: none;
    padding: 8px 30px;
    font-size: var(--fs-body);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1.5rem auto;
    max-width: 250px;
    box-shadow: var(--shadow-medium);
}

/*---------- footer ------------*/
footer .social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding: 20px 0;
  list-style: none;
  margin: 0;
}

footer .social-links li a svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

footer .social-links li a:hover svg {
  transform: scale(1.2);
}

.faq-content , .legal-container , .service {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

article {
    margin: .8rem .6rem ;
}

article > p , .legal-container > p , .service > p {
    font-size: var(--fs-body);
    text-shadow: var(--shadow-light);
    margin-bottom: 1rem;
}

.return {
    display: inline-block;
    font-size: var(--fs-body);
    margin: 1rem;
}

