.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 1rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    width: 70px;   
    height: 70px;
    object-fit: contain;
}

figcaption {
    font-size: var(--fs-body);
    text-align: center;
    color: var(--color-brown-terre);
    text-shadow: var(--shadow-light);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .6rem;
    width: 90%;
    margin: 0 auto;
}
